body {
  font-family:arial;
}

.hero-profile {
  width: 400px;
  border-radius: 20px;
  background-color: #FFDA97;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 10px;
}

/*Nome-Nível-Money*/
.hero-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.name-level {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.hero-name {
  font-size: 24px;
  font-weight: bold;
  margin: 4px;
  margin-left: 0px;
}
#hero-level {
  font-size: 14px;
  margin-left: 5px;
}
.hero-level-text {
  font-size: 14px;
}
.hero-money {
  font-size: 14px;
  color: #8E4603;
  font-weight: bold;
}

/*Progresso-Nível*/
.progress-xp {
  display:flex;
  align-items:center;
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
.progress-bar-background {
  width: 300px;
  height: 20px;
  background-color: #E0E0E0;
  border-radius: 100px;
  overflow: hidden;
}
.progress-bar-fill {
  height: 100%;
  width: 0%;
  background-color: #76D7C4;
  border-radius: 100px;
  transition: width 0.5s ease-in-out;
}
#total-xp {
  font-size: 15px;
  color: #016753;
  font-weight: bold;
  margin-left: 10px;
}
.total-xp-text {
  font-size: 15px;
  color: #016753;
  font-weight: bold;
}

/*Progresso-Vida*/
.progress-hearth {
  display:flex;
  align-items:center;
  margin: 10px;
  margin-left: 0px;
}
.hearth-bar-background {
  width: 300px;
  height: 20px;
  background-color: #E0E0E0;
  border-radius: 100px;
  overflow: hidden;
}
.hearth-bar-fill {
  height: 100%;
  width: 90%;
  background-color: #F44E3F;
  border-radius: 100px;
  transition: width 0.5s ease-in-out;
}
.total-hearth {
  font-size: 15px;
  color: #8E0F03;
  font-weight: bold;
  margin-left: 10px;
}
.add-xp-button {
  width: 200px;
  height: 40px;
  background-color: #2E86AB;
  color: #FFFFFF;
  font-weight: bold;
  margin-left: 10px;
  font-size: 24px;
  text-shadow: 2px 3px 3.5px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 20px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.3);
}
.remove-xp-button {
  width: 225px;
  height: 40px;
  background-color: #2E86AB;
  color: #FFFFFF;
  font-weight: bold;
  margin-left: 10px;
  font-size: 24px;
  text-shadow: 2px 3px 3.5px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 20px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.3);
}


.animated-btn:before {
  height: 0%;
  width: 2px;
}
.animated-btn:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}
